.Code {
  @at-root {
    & {
      color: var(--colorSecondaryDark);
      overflow-x: auto;
    }

    .Code__item {
      box-sizing: border-box;
      padding: var(--spaceGap);
      border-radius: 4px;
      background-color: var(--colorSecondaryLight);
    }
  }
}
