.Controller {
  @at-root {
    & {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--spaceGap) / 2);
    }

    .Controller__item {
      display: flex;
      align-items: center;
      gap: calc(var(--spaceGap) / 5);
    }

    .Controller__input-text {
      width: 3.5rem;
      height: 1.5rem;
      text-align: right;
    }

    .Controller__button {
      padding-inline: 0.5rem;
      line-height: 1.5;
    }
  }
}
