@use "../../../easing-sass-function" as *;

.List {
  @at-root {
    & {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }

    .List__item {
      list-style: none inside;
      position: relative;
      height: 3rem;
      background-color: var(--colorPrimaryLight);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--colorTertiaryDark);
        transform-origin: 0 0;
        transform: scaleX(0);
        transition-property: transform;
        transition-duration: var(--duration);
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &.-easeInSine::after {
        transition-timing-function: easing(easeInSine);
      }
      &.-easeOutSine::after {
        transition-timing-function: easing(easeOutSine);
      }
      &.-easeInOutSine::after {
        transition-timing-function: easing(easeInOutSine);
      }
      &.-easeInQuad::after {
        transition-timing-function: easing(easeInQuad);
      }
      &.-easeOutQuad::after {
        transition-timing-function: easing(easeOutQuad);
      }
      &.-easeInOutQuad::after {
        transition-timing-function: easing(easeInOutQuad);
      }
      &.-easeInCubic::after {
        transition-timing-function: easing(easeInCubic);
      }
      &.-easeOutCubic::after {
        transition-timing-function: easing(easeOutCubic);
      }
      &.-easeInOutCubic::after {
        transition-timing-function: easing(easeInOutCubic);
      }
      &.-easeInQuart::after {
        transition-timing-function: easing(easeInQuart);
      }
      &.-easeOutQuart::after {
        transition-timing-function: easing(easeOutQuart);
      }
      &.-easeInOutQuart::after {
        transition-timing-function: easing(easeInOutQuart);
      }
      &.-easeInQuint::after {
        transition-timing-function: easing(easeInQuint);
      }
      &.-easeOutQuint::after {
        transition-timing-function: easing(easeOutQuint);
      }
      &.-easeInOutQuint::after {
        transition-timing-function: easing(easeInOutQuint);
      }
      &.-easeInExpo::after {
        transition-timing-function: easing(easeInExpo);
      }
      &.-easeOutExpo::after {
        transition-timing-function: easing(easeOutExpo);
      }
      &.-easeInOutExpo::after {
        transition-timing-function: easing(easeInOutExpo);
      }
      &.-easeInCirc::after {
        transition-timing-function: easing(easeInCirc);
      }
      &.-easeOutCirc::after {
        transition-timing-function: easing(easeOutCirc);
      }
      &.-easeInOutCirc::after {
        transition-timing-function: easing(easeInOutCirc);
      }
      &.-easeInBack::after {
        transition-timing-function: easing(easeInBack);
      }
      &.-easeOutBack::after {
        transition-timing-function: easing(easeOutBack);
      }
      &.-easeInOutBack::after {
        transition-timing-function: easing(easeInOutBack);
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem;
      }
    }

    &.-bulk:hover .List__item::after {
      transform: scaleX(1);
    }
  }
}
