@import 'easing-var';
@import 'easing-function';

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f7f7;
}

.duration-select {
  display: flex;
  margin-bottom: 15px;
}

.duration-select__title {
  font-style: normal;
  font-weight: bold;
  &::after {
    margin-left: 1em;
    content: "≫"
  }
}

.duration-select__list {
  margin: 0;
  padding: 0;
  list-style: none inside;
  display: flex;
}

.duration-select__button {
  cursor: pointer;
  margin-left: 1em;
  padding: 8px 10px;
  border: 1px solid rgba(#000, 0.15);
  border-radius: 2px;
  background-color: rgba(#a4c6d6, 0.5);

  #d1:checked ~ .main &[for="d1"] {background-color: rgba(#f78eb2, 0.5);}
  #d2:checked ~ .main &[for="d2"] {background-color: rgba(#f78eb2, 0.5);}
  #d3:checked ~ .main &[for="d3"] {background-color: rgba(#f78eb2, 0.5);}
}

.test-container {
  $gap: 15px;
  $col: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% / #{$col}) - #{$gap} * (#{$col} - 1)), 1fr));
  grid-column-gap: $gap;
  grid-row-gap: $gap;
}

.test-container__item {
  padding: 12px;
  border: 1px solid rgba(#000, 0.15);
  border-radius: 2px;
}

.test-container__title {
  margin: 0 0 10px;
  line-height: 1;
}

.box {
  cursor: pointer;
  width: 100%;
  height: 30px;
  background-color: #a4c6d6;
}

.line {
  width: 100%;
  height: 100%;
  background-color: #f78eb2;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.5s;

  #d1:checked ~ .main & {transition-duration: 0.5s}
  #d2:checked ~ .main & {transition-duration: 1s}
  #d3:checked ~ .main & {transition-duration: 3s}

  .box:hover & {
    transform: scaleX(1);
  }
}


.is-easeInSine     {transition-timing-function: ease(easeInSine)    }
.is-easeOutSine    {transition-timing-function: ease(easeOutSine)   }
.is-easeInOutSine  {transition-timing-function: ease(easeInOutSine) }
.is-easeInQuad     {transition-timing-function: ease(easeInQuad)    }
.is-easeOutQuad    {transition-timing-function: ease(easeOutQuad)   }
.is-easeInOutQuad  {transition-timing-function: ease(easeInOutQuad) }
.is-easeInCubic    {transition-timing-function: ease(easeInCubic)   }
.is-easeOutCubic   {transition-timing-function: ease(easeOutCubic)  }
.is-easeInOutCubic {transition-timing-function: ease(easeInOutCubic)}
.is-easeInQuart    {transition-timing-function: ease(easeInQuart)   }
.is-easeOutQuart   {transition-timing-function: ease(easeOutQuart)  }
.is-easeInOutQuart {transition-timing-function: ease(easeInOutQuart)}
.is-easeInQuint    {transition-timing-function: ease(easeInQuint)   }
.is-easeOutQuint   {transition-timing-function: ease(easeOutQuint)  }
.is-easeInOutQuint {transition-timing-function: ease(easeInOutQuint)}
.is-easeInExpo     {transition-timing-function: ease(easeInExpo)    }
.is-easeOutExpo    {transition-timing-function: ease(easeOutExpo)   }
.is-easeInOutExpo  {transition-timing-function: ease(easeInOutExpo) }
.is-easeInCirc     {transition-timing-function: ease(easeInCirc)    }
.is-easeOutCirc    {transition-timing-function: ease(easeOutCirc)   }
.is-easeInOutCirc  {transition-timing-function: ease(easeInOutCirc) }
.is-easeInBack     {transition-timing-function: ease(easeInBack)    }
.is-easeOutBack    {transition-timing-function: ease(easeOutBack)   }
.is-easeInOutBack  {transition-timing-function: ease(easeInOutBack) }
